body {
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, Arial, serif;
    margin: 0 auto;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    /* below margin auto helped to spread the background color across the row */
    margin: 16px auto;
    margin-top: auto;
    padding: 30px;
}

.box-left {
    margin-bottom: 100px;
    margin-top: 100px;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 10px;
    padding: 0px;
    display: flex;
    margin-bottom: 4px;
}

.box-right {
    background: grey;
    width: 500px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    position: absolute;
    top: 100px;
    left: 800px;
    
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

li {
    margin-right: 16px;
    margin-top: -22px;
}

button {
    background-color: #3882F6;
    border-radius: 10px;
    margin: 20px 0;
    padding: 16px;
    height: auto;
    width: auto;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

.signup button {
    background-color: #3882F6;
    border: 2px white;
    border-style: solid;
    color: white;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

.signup {
    background-color: #3882F6;
    color: white;
    padding: 20px;
    margin: 65px;
    border-radius: 10px;
}

.signup div {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -10px;
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.testimonial {
    background-color: #E5E7EB;
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    padding: 100px;
}

.credit {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 200px;
    margin-top: 60px;
    margin-bottom: 180px;
}

.box-1 {
    max-width: 200px;
    border: 4px solid rgb(0, 89, 255);
    border-radius: 10px;
}

.box-2 {
    max-width: 200px;
    border: 4px solid rgb(0, 89, 255);
    border-radius: 10px;
}

.box-3 {
    max-width: 200px;
    border: 4px solid rgb(0, 89, 255);
    border-radius: 10px;
}

.box-4 {
    max-width: 200px;
    border: 4px solid rgb(0, 89, 255);
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    /* below margin auto helped to spread the background color across the row */
    margin: 48px auto;
    margin-bottom: auto;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}